.bg-success {
  background-color: #ccf9ca !important;
}

.bg-info {
  background-color: #d4caf9 !important;
}

.well {
  background-color: #e8e8e8;
}

/*
.card {
  background-color: #e8e8e8 !important;
}
*/


/* CSS Comment */
